<div class="bg-pattern bg-dark fondo"></div>
<div class="container">
  <span id="pagCuestionario"></span>
  <h2>Cuestionario de capacitacíón</h2>
  <h5>Descripción del cuestionario</h5>
  <div class="card text-justify">
    <div class="card-header bg-info">
      <h5 class="card-title text-white">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-check-square-o"></i>
            {{ numPreguntas }} Preguntas
          </div>
          <div class="col-sm-6 text-right">
            <a routerLink="/lecciones/leccion-2" role="button" class="volver">
              <i class="fa fa-chevron-circle-left" aria-hidden="true">
              </i>Regresar</a>
          </div>
        </div>
      </h5>
    </div>
    <div class="card-body bg-transparent">
      <table class="table">
        <tbody>
          <tr *ngFor="let pregunta of preguntas, index as a">
            <td class="preg" data-points="1">
              <h4>{{ a + 1 }}) {{ pregunta.pregunta }}</h4>
              <span class="msg_marcas resalta"></span>
              <br>
              <table class="table table-hover">
                <tbody>
                  <tr class="resp pregunta-{{ pregunta.idPregunta }}" *ngFor="let respuesta of pregunta.respuestas, index as i" id="respuesta-{{ respuesta.idRespuesta }}" (click)="seleccioando( 'respuesta-' + respuesta.idRespuesta, 'pregunta-' + pregunta.idPregunta )">
                    <td data-resp="0">
                      <strong>{{ letras[i] }}</strong>) {{ respuesta.resp }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <input class="btn btn-info btn-lg corregir" (click)="guardar()" type="button" name="Corregir" id="Corregir" value="Guardar Repuestas">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="text-justify">&nbsp;</p>
</div>