<!-- Page Wrapper -->
<div id="wrapper">
  <app-menu-lateral></app-menu-lateral>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
              <p class="mb-4 d-flex justify-content-between">
                Aqui puede agregar o editar sus usuarios
              </p>
              <form id="frmUsuario">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="txtNombre">Nombre</label>
                      <input type="text" class="form-control" id="txtNombre" name="txtNombre"/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtPWD">Contraseña</label>
                      <input type="password" class="form-control" id="txtPWD" name="txtPWD"/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtConfirmPWD">Confirmar contraseña</label>
                      <input type="password" class="form-control" id="txtConfirmPWD" name="txtConfirmPWD"/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtArea">Area</label>
                      <input type="password" class="form-control" id="txtArea" name="txtArea"/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtPuesto">Puesto</label>
                      <input type="password" class="form-control" id="txtPuesto" name="txtPuesto"/>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
