<!-- Page Wrapper -->
<div id="wrapper">
  <app-menu-lateral></app-menu-lateral>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
              <p class="mb-4 d-flex justify-content-between">
                Aqui puede agregar o editar sus usuarios
              </p>
              <form id="frmUsuario">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="txtNombre">Nombre</label>
                      <input
                        #nombre
                        type="text"
                        class="form-control"
                        id="txtNombre"
                        name="txtNombre"
                        [(ngModel)]="usuario.nombre"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="txtCorreo">Correo</label>
                      <input
                        #correo
                        type="email"
                        class="form-control"
                        id="txtCorreo"
                        name="txtCorreo"
                        [(ngModel)]="usuario.correo"
                      />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtPWD">Contraseña</label>
                      <input
                        #pwd
                        type="password"
                        class="form-control"
                        id="txtPWD"
                        name="txtPWD"
                        [(ngModel)]="usuario.password"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtCorreo">ROL</label>
                      <select
                        #rol
                        name="txtRol"
                        id="txtRol"
                        class="form-control"
                        [(ngModel)]="usuario.rol"
                      >
                        <option value="2">Normal</option>
                        <option value="1">Admin</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtArea">Area</label>
                      <input
                        #area
                        type="text"
                        class="form-control"
                        id="txtArea"
                        name="txtArea"
                        [(ngModel)]="usuario.area"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="txtPuesto">Puesto</label>
                      <input
                        #puesto
                        type="text"
                        class="form-control"
                        id="txtPuesto"
                        name="txtPuesto"
                        [(ngModel)]="usuario.puesto"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button class="btn btn-primary" (click)="guardar()">
                      Guardar
                    </button>
                  </div>
                </div>
              </form>

              <div class="alert alert-danger hide" [ngClass]="{show: alerta}" role="alert">
                  Ocurrio un error inesperado
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
