<div class="bg-pattern bg-dark fondo"></div>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mt-5 mb-3" >
                <div class="card-header text-center">
                    <h2>Bienvenido!</h2>
                </div>
                <div class="row g-0 bb-1">
                    <div class="col-md-2">
                        <img src="https://cdn.questionpro.com/userimages/site_media/cuestionarios-para-empresas.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Cuestionario 1</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis nesciunt veritatis nisi voluptatum ipsum obcaecati, in quasi placeat dolore ipsam quos voluptas fugiat veniam odio illum dolor vel sapiente!</p>
                            <div class="card-text alert alert-success d-flex-button" role="alert">
                                <p class="mt-2">Completado</p>
                                <!-- <button type="button" class="btn btn-outline-dark" disabled>Contestar</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 bb-1">
                    <div class="col-md-2">
                        <img src="https://cdn.questionpro.com/userimages/site_media/cuestionarios-para-empresas.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Cuestionario 2</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis nesciunt veritatis nisi voluptatum ipsum obcaecati, in quasi placeat dolore ipsam quos voluptas fugiat veniam odio illum dolor vel sapiente!</p>
                            <div class="alert alert-warning d-flex-button" role="alert">
                                <p class="mt-2">Sin termimnar</p>
                                <button type="button" class="btn btn-outline-dark" routerLink="/lecciones/leccion-2">Contestar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="https://cdn.questionpro.com/userimages/site_media/cuestionarios-para-empresas.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Cuestionario 3</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis nesciunt veritatis nisi voluptatum ipsum obcaecati, in quasi placeat dolore ipsam quos voluptas fugiat veniam odio illum dolor vel sapiente!</p>
                            <div class="alert alert-danger d-flex-button" role="alert">
                                <p class="mt-2">Desactivado</p>
                                <!-- <button type="button" class="btn btn-outline-dark">Contestar</button> -->
                                <button type="button" class="btn btn-outline-dark" disabled>Contestar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>