.text-right {
    text-align: right !important;
}

.volver{
    color: #fff;
}

.preg{
    display: block;
    margin-left: 1rem;
}

.resp_marca{
    background-color: #4e73df;
    color: #fff;
}

.resp_marca:hover{
    color: #fff !important;
}

.resp td{
    display: block;
    margin-left: 1rem;
    cursor: pointer;
}