<div class="bg-pattern bg-dark fondo"></div>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" alt="logo" width="150">
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row justify-content-center">
            <div class="col-xl-5 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-2">
                            <h5 class="mb-5 text-center">Inicio de sesión</h5>
                            <form class="form-horizontal" id="frmLogin">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-custom mb-4">
                                            <input type="text" class="form-control" name="username" id="username" required="">
                                            <label for="username">Correo</label>
                                        </div>

                                        <div class="form-group form-group-custom mb-4">
                                            <input type="password" class="form-control" name="password" id="password" required="">
                                            <label for="password">Password</label>
                                        </div>
                                        <div class="mt-4">
                                            <button class="btn btn-info btn-block waves-effect waves-light" routerLink="lecciones" routerLinkActive="router-link-active"  type="submit">Acceder</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <!-- <a href="auth-register.html" class="text-muted"><i class="mdi mdi-account-circle mr-1"></i> Create an account</a> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
