<div class="bg-pattern bg-dark fondo"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5 border-info mb-3">
                <div class="card-header text-center">
                    <h2>LECCION 2: Titulo de la lección</h2>
                </div>
                <div class="card-body">
                    <div class="text-center ratio ratio-16x9">
                        <iframe width="700" height="415" src="https://www.youtube.com/embed/U3ASj1L6_sY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">

                                <p style="text-align:justify"><span style="font-size:8pt"><u>MC Paulo Mart&iacute;n
                                            Barajas
                                            Oliva</u><strong>, </strong>Dr. David Alejandro Contreras Caro del
                                        Castillo<sup>1</sup><strong>, </strong>Dra. Mar&iacute;a Elena Trujillo
                                        Ortega<sup>2,3</sup><strong>, </strong>Dra. Susana Mendoza
                                        Elvira<sup>4</sup>.</span>
                                </p>

                                <p style="text-align:justify"><span
                                        style="font-size:8pt"><em><sup>1</sup></em><em>Departamento
                                            de Medicina y Zootecnia de Rumiantes, FMVZ-UNAM; <sup>2</sup>Departamento de
                                            Medicina y Zootecnia de Cerdos, FMVZ.UNAM; <sup>3</sup>Consejo
                                            Acad&eacute;mico del
                                            &Aacute;rea de las Ciencias Biol&oacute;gicas, Qu&iacute;micas y de la
                                            Salud, UNAM;
                                            <sup>4</sup>Facultad de Estudios Superiores Cuautitl&aacute;n,
                                            FESC-UNAM.</em></span></p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt"><strong><span
                                                style="font-size:12pt">Introducci&oacute;n</span></strong></span>
                                </p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt">La cerda, a pesar de ser una especie prol&iacute;fica,
                                        presenta
                                        una p&eacute;rdida embrionaria entre los d&iacute;as 12 y 30 de
                                        gestaci&oacute;n, donde
                                        disminuye hasta un 25% de los &oacute;vulos fertilizados, contemplando el
                                        periodo de
                                        peri-implantaci&oacute;n dentro de estos d&iacute;as. La comunicaci&oacute;n
                                        materno-embrionaria es cr&iacute;tica a lo largo del periodo de
                                        peri-implantaci&oacute;n
                                        para el desarrollo embrionario y las membranas placentarias donde diversos
                                        factores como
                                        quimosinas, citosinas, mol&eacute;culas de adhesi&oacute;n, factores de
                                        crecimiento y
                                        hormonas esteroides y pept&iacute;dicas llevan a cabo una red interconectada de
                                        comunicaci&oacute;n; dichos factores pueden estar presentes en dos diferentes
                                        mecanismos
                                        de nutrici&oacute;n: el histotrofo, mejor conocido como leche uterina, y/o la
                                        nutrici&oacute;n hematotr&oacute;fica caracterizada por el intercambio
                                        sangu&iacute;neo
                                        entre la circulaci&oacute;n materna y embrionaria/fetal. Siguiendo con la
                                        nutrici&oacute;n hematotr&oacute;fica, se han establecido hip&oacute;tesis
                                        respecto a la
                                        relaci&oacute;n que puede existir entre la p&eacute;rdida embrionaria durante el
                                        primer
                                        tercio de gestaci&oacute;n, pero sin ser espec&iacute;ficas en el periodo de
                                        peri-implantaci&oacute;n, y un inadecuado desarrollo de vasos sangu&iacute;neos,
                                        lo cual
                                        puede determinar la supervivencia de los embriones y conceptos por fallas de
                                        interacci&oacute;n contemplando los procesos dentro de este periodo en
                                        relaci&oacute;n
                                        al desarrollo embrionario y la formaci&oacute;n de las membranas placentarias
                                        participando factores de crecimiento que apoyan la angiog&eacute;nesis:
                                        formaci&oacute;n
                                        de vasos sangu&iacute;neos a partir de los ya existentes. La angiog&eacute;nesis
                                        se
                                        lleva a cabo en la interacci&oacute;n materno-embrionaria/fetal a lo largo de la
                                        gestaci&oacute;n siendo cr&iacute;tica durante el periodo de
                                        peri-implantaci&oacute;n y
                                        regulada por factores de crecimiento proangiog&eacute;nicos y sus receptores
                                        promoviendo
                                        el crecimiento, migraci&oacute;n, sobrevivencia y diferenciaci&oacute;n de
                                        c&eacute;lulas endoteliales apoyando el desarrollo embrionario y de los
                                        conceptos, la
                                        elongaci&oacute;n y expansi&oacute;n de los conceptos permitiendo una
                                        comunicaci&oacute;n &oacute;ptima durante toda la gestaci&oacute;n de la cerda.
                                        Adem&aacute;s del factor de crecimiento endotelio vascular (VEGF, por sus siglas
                                        en
                                        ingl&eacute;s) conocido principalmente por sus acciones proangiog&eacute;nicas
                                        en el
                                        tejido materno y el trofoblasto de cerdo junto con sus receptores (VEGFR1 Y
                                        VEGFR2),
                                        existen otros factores de crecimiento que act&uacute;an en el proceso de
                                        angiog&eacute;nesis, pero no se han descrito claramente a lo largo del proceso
                                        de
                                        peri-implantaci&oacute;n en el cerdo. Los Factores de Crecimiento parecidos a la
                                        Insulina uno y dos (IGF-1 e IGF-2, por sus siglas en ingl&eacute;s), son
                                        mol&eacute;culas consideradas proangiog&eacute;nicas ya que promueven la
                                        expresi&oacute;n de VEGF, pueden ser producidos por casi cualquier c&eacute;lula
                                        del
                                        organismo y no solo producidos y almacenados en un tejido en espec&iacute;fico.
                                        IGF-1 se
                                        encuentra elevado al d&iacute;a 12 de la gestaci&oacute;n en cerdas,
                                        aproximadamente,
                                        estimulado por la producci&oacute;n de estr&oacute;genos por parte del
                                        embri&oacute;n e
                                        IGF-2 incrementa a lo largo de la gestaci&oacute;n sugiriendo una mayor
                                        relevancia en
                                        los eventos de crecimiento tanto embrionario como fetal; ambos
                                        interact&uacute;an con
                                        los receptores para el factor de crecimiento parecido a la insulina uno (IGF1R)
                                        y dos
                                        (IGF2R). El IGF1R se encuentra ligeramente presente en c&eacute;lulas
                                        endometriales a
                                        los 20 d&iacute;as. El IGF2R tiene 100 veces m&aacute;s afinidad por IGF-2 a
                                        diferencia
                                        de IGF-1, presenta mayor expresi&oacute;n que el IGF1R tanto en tejido fetal
                                        como
                                        materno. Otra mol&eacute;cula considerada proangiog&eacute;nica es el Factor de
                                        Crecimiento de Fibroblastos dos (FGF2, por sus siglas en ingl&eacute;s), potente
                                        mit&oacute;geno de c&eacute;lulas endoteliales que provee est&iacute;mulos
                                        necesarios
                                        para la angiog&eacute;nesis. En el endometrio porcino, el FGF2 y los receptores
                                        para los
                                        factores de dicha familia uno y dos (FGFR1 y FGFR2) est&aacute;n expresados
                                        alrededor
                                        del d&iacute;a 10 cuando est&aacute; ocurriendo una extensiva
                                        angiog&eacute;nesis. En el
                                        presente trabajo de investigaci&oacute;n se determin&oacute; la
                                        localizaci&oacute;n y
                                        expresi&oacute;n de los factores de crecimiento IGF-1, IGF-2 y FGF2 junto con
                                        los
                                        receptores IGF1R, IGF2R y FGFR2 en el endometrio y en todo el tejido uterino,
                                        respectivamente, considerados como proangiog&eacute;nicos y, presumiblemente,
                                        apoyando
                                        en el proceso de angiog&eacute;nesis durante el periodo de
                                        peri-implantaci&oacute;n.
                                        Respecto a la no invasi&oacute;n de tejidos durante la implantaci&oacute;n y
                                        placentaci&oacute;n, esta especie puede considerarse como un excelente modelo
                                        para el
                                        estudio de los procesos de implantaci&oacute;n y angiog&eacute;nesis, as&iacute;
                                        como el
                                        intercambio materno-embrionario ya que ambos tejidos son claramente
                                        distinguibles uno de
                                        otro, por lo que pueden ser estudiados de manera independiente como diferentes
                                        tipos
                                        celulares, siendo esta especie animal un buen modelo en el estudio de mecanismos
                                        que no
                                        han sido completamente descritos en otras especies y que puedan favorecer en
                                        despejar
                                        inc&oacute;gnitas para la especie humana, ambas especies comparten ciertas
                                        similitudes
                                        en anatom&iacute;a, gen&eacute;tica, aparatos cardiovascular y gastrointestinal
                                        y
                                        patofisiolog&iacute;a. Con lo anterior, se abre una ventana de oportunidad donde
                                        pueden
                                        aumentarse ganancias econ&oacute;micas manteniendo, incluso para poder aumentar,
                                        el
                                        n&uacute;mero y tama&ntilde;o de cr&iacute;as en las camadas dentro de la
                                        producci&oacute;n considerando esencial a la angiog&eacute;nesis dentro del
                                        periodo de
                                        peri-implantaci&oacute;n para la comunicaci&oacute;n materno-embrionaria junto
                                        con
                                        diversos procesos de manera &oacute;ptima como la reorganizaci&oacute;n celular,
                                        el
                                        desarrollo del trofoblasto y su elongaci&oacute;n hasta darse la
                                        implantaci&oacute;n
                                        logrando el desarrollo exitoso de embriones y conceptos, principalmente.</span>
                                </p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt"><strong><span style="font-size:12pt">Material y
                                                m&eacute;todos</span></strong></span>
                                </p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt">En el Centro de Ense&ntilde;anza, Investigaci&oacute;n
                                        y
                                        Extensi&oacute;n en Producci&oacute;n Porcina (CEIEPP), instalaci&oacute;n de la
                                        FMVZ-UNAM, localizado en el municipio de Jilotepec, Edo. M&eacute;x., se
                                        obtuvieron
                                        muestras del tracto reproductor de 16 hembras nul&iacute;paras con un rango de
                                        peso de
                                        120 a 130 kg. Los animales fueron divididos en 2 grupos (n=8): El primer grupo
                                        correspondiente a cerdas gestantes (Gx) y el segundo grupo correspondiente a
                                        cerdas en
                                        diferentes etapas del ciclo estral (CE). El grupo Gx se estableci&oacute; en 4
                                        subgrupos
                                        considerando cada uno a partir del d&iacute;a de la inseminaci&oacute;n
                                        artificial
                                        (d&iacute;a 0) hasta el d&iacute;a de su eutanasia: subgrupo 1, a los 12
                                        d&iacute;as;
                                        subgrupo 2, a los 14 d&iacute;as; subgrupo 3 a los 16 d&iacute;as y subgrupo 4 a
                                        los 18
                                        d&iacute;as de gestaci&oacute;n (n=2). Las cerdas del grupo CE fueron divididas
                                        en
                                        subgrupos conforme a la fase y etapa del ciclo estral: fase folicular
                                        correspondiendo a
                                        las etapas de proestro y estro y la fase l&uacute;tea correspondiendo a las
                                        etapas de
                                        metaestro y diestro (n=2). Los cuernos uterinos fueron destinados a la
                                        fijaci&oacute;n
                                        en paraformaldeh&iacute;do al 4% y a congelaci&oacute;n en nitr&oacute;geno
                                        l&iacute;quido (-80&ordm;C) para procesos de IHQ y qRT-PCR, respectivamente. Se
                                        desarrollaron los ensayos experimentales definitivos con previa
                                        estandarizaci&oacute;n
                                        de pruebas. Los resultados de inmunohistoqu&iacute;mica fueron cualitativos
                                        indicando la
                                        presencia o no de la inmunotinci&oacute;n de los anticuerpos para cada factor y
                                        receptor, y los resultados de qRT-PCR fueron analizados por medio del programa
                                        SAS con
                                        un modelo estad&iacute;stico enfocado en efectos mixtos, considerando los
                                        valores de las
                                        expresiones relativas de cada uno de los genes analizados y el tiempo a lo largo
                                        de la
                                        gestaci&oacute;n y durante las fases del ciclo estral y, posteriormente, se
                                        realiz&oacute; una prueba de Tukey para conocer las diferencias
                                        estad&iacute;sticas de
                                        las medias obtenidas entre grupos y subgrupos (p &lt; 0.05).</span>
                                </p>

                                <p><br />
                                    <strong><span style="font-size:12pt">Resultados de
                                            inmunohistoqu&iacute;mica</span></strong>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p><span style="font-size:12pt"><strong>Resultados de Reacci&oacute;n en Cadena de la
                                            Polimerasa
                                            en tiempo real (qRT-PCR)</strong></span></p>

                                <p>&nbsp;</p>

                                <p><strong><img src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                            style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:10pt"><strong><img
                                                src="https://images.prismic.io/mystique/5d7c09b9-40e5-4254-ae1c-2c1cb59aa898_IMG3.jpg?auto=compress,format"
                                                style="display:block; margin-left:auto; margin-right:auto; width:700px" /></strong></span>
                                </p>

                                <p><br />
                                    <span style="font-size:10pt"><strong><span
                                                style="font-size:12pt">Discusi&oacute;n</span></strong></span>
                                </p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt">A pesar de la ausencia de IGF-1 en el endometrio, su
                                        expresi&oacute;n a los 12 d&iacute;as de gestaci&oacute;n reportada en este
                                        estudio
                                        puede relacionarse, junto con los estr&oacute;genos, en la angiog&eacute;nesis
                                        placentaria, ya que se ha reportado que IGF-1 participa en la s&iacute;ntesis de
                                        estr&oacute;genos apoyando la expresi&oacute;n de la aromatasa en el trofoblasto
                                        y
                                        tambi&eacute;n apoya en la expresi&oacute;n de VEGF durante la gestaci&oacute;n
                                        temprana
                                        del cerdo en el epitelio endometrial durante la elongaci&oacute;n del concepto
                                        predisponiendo la permeabilidad vascular. Entonces, IGF-1 se considera un factor
                                        de
                                        crecimiento clave apoyando la producci&oacute;n de estr&oacute;genos entre los
                                        d&iacute;as 10 y 12 y en la angiog&eacute;nesis de las membranas placentarias a
                                        los 12
                                        d&iacute;as de gestaci&oacute;n junto con la expansi&oacute;n de los conceptos
                                        cubriendo
                                        la superficie de los cuernos uterinos para el reconocimiento materno. La
                                        acci&oacute;n
                                        de IGF-1 en la angiog&eacute;nesis tambi&eacute;n se relaciona por su
                                        localizaci&oacute;n en las fibras del estroma durante la
                                        peri-implantaci&oacute;n entre
                                        los d&iacute;as 16 y 18 de gestaci&oacute;n participando en la permeabilidad
                                        vascular y
                                        apoyando la expresi&oacute;n y localizaci&oacute;n de IGF-2 en los vasos
                                        sangu&iacute;neos. As&iacute;, IGF-1 participa en un desarrollo vascular
                                        constante y,
                                        junto con IGF-2 como un factor proangiog&eacute;nico durante el inicio y final
                                        de la
                                        implantaci&oacute;n entre los d&iacute;as 12 y 16 de la gestaci&oacute;n, elevan
                                        la
                                        expresi&oacute;n de VEGF. La expresi&oacute;n de IGF1R en este estudio es
                                        determinante
                                        en diferentes momentos durante la peri-implantaci&oacute;n, ya que se ha
                                        reportado la
                                        existencia de hom&oacute;logos que pueden efectuar actividades al unirse tanto a
                                        IGF-1
                                        como IGF-2. Los hom&oacute;logos para ambos factores se muestran por diferentes
                                        condiciones, considerando que IGF-1 participa en la angiog&eacute;nesis del
                                        endometrio a
                                        partir del d&iacute;a 15 de gestaci&oacute;n para su implantaci&oacute;n final
                                        relacionando tambi&eacute;n su presencia en las fibras del estroma e IGF-2 es un
                                        factor
                                        de crecimiento que puede generar una se&ntilde;al por la uni&oacute;n a IGF1R
                                        relacionando su presencia en la mucosa entre los 12 y 18 d&iacute;as de
                                        gestaci&oacute;n
                                        en el presente estudio. IGF2R puede tambi&eacute;n relacionarse al proceso de
                                        angiog&eacute;nesis durante la implantaci&oacute;n por su presencia en fibras
                                        del
                                        estroma y su expresi&oacute;n entre los 14 y 16 d&iacute;as de gestaci&oacute;n
                                        donde
                                        IGF-2 puede unirse. La expresi&oacute;n de IGF2R en las fases del ciclo estral
                                        no puede
                                        asegurar su dependencia por los estr&oacute;genos o progesterona en el ambiente
                                        uterino
                                        durante el periodo de peri-implantaci&oacute;n. Tomando en cuenta los
                                        estr&oacute;genos
                                        y la progesterona como reguladores en la funci&oacute;n vascular, la familia de
                                        FGF son
                                        mediadores clave en el proceso de angiog&eacute;nesis junto con VEGF
                                        participando en el
                                        mantenimiento vascular y la funci&oacute;n celular en diferentes tejidos del
                                        aparato
                                        reproductor en mam&iacute;feros. Respecto a FGF2, a pesar de su mayor
                                        expresi&oacute;n
                                        en la fase l&uacute;tea del ciclo estral, no muestra diferencias significativas
                                        entre
                                        sus expresiones reportadas en el presente estudio, es decir, no puede asegurarse
                                        la
                                        influencia directa por parte de la progesterona; su presencia tanto en las
                                        fibras del
                                        estroma como en los vasos sangu&iacute;neos a los 12, 16 y 18 d&iacute;as de
                                        gestaci&oacute;n indica que es un factor de crecimiento que participa en la
                                        angiog&eacute;nesis dentro del ambiente uterino. Tomando en cuenta los
                                        resultados de
                                        FGF2 y la expresi&oacute;n del ARNm de FGFR2 en la fase l&uacute;tea del ciclo
                                        estral,
                                        la cual mostr&oacute; diferencias significativas en comparaci&oacute;n a la
                                        menor
                                        expresi&oacute;n a los 14, 16 y 18 d&iacute;as de gestaci&oacute;n y durante la
                                        fase
                                        folicular del ciclo estral, indican la participaci&oacute;n de ambos en procesos
                                        angiog&eacute;nicos compensatorios y se ha visto que pueden ser apoyados por los
                                        estr&oacute;genos a lo largo de la peri-implantaci&oacute;n participando en la
                                        angiog&eacute;nesis de forma compensatoria sobre las membranas placentarias
                                        tomando en
                                        cuenta la disposici&oacute;n de FGFR2 en el tejido epitelial de revestimiento de
                                        la
                                        mucosa a los 12 d&iacute;as de gestaci&oacute;n. Adem&aacute;s, por la
                                        disposici&oacute;n y su expresi&oacute;n a los 18 d&iacute;as de
                                        gestaci&oacute;n tanto
                                        de FGF2 como FGFR2 en las fibras del estroma, apoyan el proceso compensatorio en
                                        la
                                        angiog&eacute;nesis y la presencia de FGF2 puede coincidir entre su
                                        expresi&oacute;n y
                                        su presencia en los vasos sangu&iacute;neos a los 16 y 18 d&iacute;as de
                                        gestaci&oacute;n al igual que en las fibras del estroma. Con esto, el proceso
                                        compensatorio por parte de FGF2 y FGFR2 se da en la angiog&eacute;nesis cuando
                                        se
                                        presentan restricciones en la permeabilidad y el desarrollo de los vasos
                                        sangu&iacute;neos en la parte final de la implantaci&oacute;n embrionaria,
                                        considerando
                                        que las gl&aacute;ndulas pueden ser un buen sustituto para la producci&oacute;n
                                        de FGF2.
                                        Al estar ausente FGF2 en el tejido epitelial glandular en el presente estudio,
                                        se
                                        asegura la participaci&oacute;n de este factor al presentarse restricci&oacute;n
                                        en la
                                        formaci&oacute;n de vasos sangu&iacute;neos y la permeabilidad junto con la
                                        presencia de
                                        FGFR2 en las fibras del estroma entre los 12 y 18 d&iacute;as de
                                        gestaci&oacute;n.</span>
                                </p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt"><strong><span
                                                style="font-size:12pt">Conclusi&oacute;n</span></strong></span>
                                </p>

                                <p style="text-align:justify"><br />
                                    <span style="font-size:10pt">Se logr&oacute; describir una participaci&oacute;n
                                        directa e
                                        indirecta en el caso de la familia IGF (IGF-1, IGF-2, IGF1R e IGF2R) al
                                        desarrollo de
                                        vasos sangu&iacute;neos en momentos clave durante la gestaci&oacute;n de la
                                        cerda. Y
                                        para los factores de crecimiento de la familia FGF estudiados (FGF2 y FGFR2),
                                        este
                                        trabajo refuerza el conocimiento sobre su apoyo vascular compensatorio,
                                        principalmente
                                        por conocer los tejidos clave para su producci&oacute;n al momento de
                                        presentarse una
                                        permeabilidad deficiente. Este trabajo logr&oacute; describir la
                                        localizaci&oacute;n y
                                        expresi&oacute;n de ciertos factores de crecimiento y receptores
                                        proangiog&eacute;nicos
                                        durante el periodo de peri-implantaci&oacute;n en la gestaci&oacute;n de la
                                        cerda donde
                                        otros procesos biol&oacute;gicos se desarrollan a lo largo de la
                                        interacci&oacute;n
                                        materno-embrionaria durante esta ventana de tiempo considerando la
                                        angiog&eacute;nesis
                                        como un proceso clave para mantener la gestaci&oacute;n y el tama&ntilde;o
                                        heterog&eacute;neo de los fetos y conceptos, apoyando el conocimiento para que
                                        en un
                                        futuro sean contemplados como funcionales en la aplicaci&oacute;n ex&oacute;gena
                                        o por
                                        medio de la nutrici&oacute;n balanceada para una mejor heterogeneidad de peso y
                                        mayor
                                        tama&ntilde;o de los lechones por camada y como modelo experimental clave
                                        respecto a la
                                        participaci&oacute;n de factores de crecimiento y receptores
                                        proangiog&eacute;nicos
                                        estudiados por medio de su localizaci&oacute;n y expresi&oacute;n considerando
                                        la
                                        similitud que presenta con el humano para entender ciertos procesos
                                        biol&oacute;gicos
                                        con mayor detalle por medio de comparativos en an&aacute;lisis
                                        histol&oacute;gicos
                                        cualitativos y la expresi&oacute;n gen&eacute;tica, adem&aacute;s de conocer con
                                        mayor
                                        detalle el proceso de angiog&eacute;nesis en ambas especies donde otras especies
                                        presentan ciertas limitantes para poder generar mayor conocimiento.</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-info" type="button" routerLink="/cuestionario/leccion-2">Ir al cuestionario</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>