<div class="bg-pattern bg-dark fondo"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5 border-info mb-3">
                <div class="card-header text-center">
                    <h2>LECCION 2: Titulo de la lección</h2>
                </div>
                <div class="card-body">
                    <div class="text-center ratio ratio-16x9" *ngIf="leccion.video != ''">
                        <iframe width="700" height="415" [src]="urlSafe"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8" [innerHTML]="leccion.leccion">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-info" type="button" routerLink="/cuestionario/{{ encuesta }}">Ir al cuestionario</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>