.bg-pattern {
    background-image: url(https://i.imgur.com/w33lHeJ.png);
    /* background-image: url(); */
    background-size: cover;
    background-position: center;
}

.bg-dark {
    background-color: #ffecb5!important;
}

.fondo{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
}
